<template>
  <section class="tasks mt-8">
    <h1 class="text-4xl">Tasks</h1>
    <div class="mt-5 text-center">
      <input
        v-model="newTask"
        type="text"
        class="border-2 w-[70%] lg:w-4/5 border-gray-600 rounded outline-none h-12 p-[10px] text-lg placeholder-opacity-50 focus:border-blue-700"
        placeholder="New task"
        @keyup.enter="addTask"
      />
      <span>
        <button
          class="bg-blue-600 h-12 lg:w-1/12 text-white rounded-md py-2 px-4 hover:opacity-80"
          @click="addTask"
        >
          + Add
        </button>
      </span>
    </div>

    <div class="flex items-center justify-between gap-4 flex-wrap my-10">
      <div class="flex items-center gap-5 flex-wrap">
        <button
          :class="{ ' bg-blue-600 !text-white': !$route.query?.status }"
          class="border border-blue-600 py-3 px-5 text-blue-600 font-medium text-lg rounded-md hover:opacity-75 transition-all"
          @click="setQuery(undefined)"
        >
          All
        </button>
        <button
          :class="{
            ' bg-blue-600 !text-white': $route.query?.status === 'completed',
          }"
          class="border border-blue-600 py-3 px-5 text-blue-600 font-medium text-lg rounded-md hover:opacity-75 transition-all"
          @click="setQuery('completed')"
        >
          Completed
        </button>
        <button
          :class="{
            ' bg-blue-600 !text-white':
              $route.query?.status === 'not_completed',
          }"
          class="border border-blue-600 py-3 px-5 text-blue-600 font-medium text-lg rounded-md hover:opacity-75 transition-all"
          @click="setQuery('not_completed')"
        >
          Not Completed
        </button>
      </div>
    </div>
    <template v-if="fetching">
      <div role="status" class="w-full animate-pulse">
        <div
          v-for="i in 5"
          :key="i"
          class="h-14 bg-gray-200 rounded-lg w-full mb-4"
        ></div>

        <span class="sr-only">Loading...</span>
      </div>
    </template>
    <template v-else-if="tasks.length === 0">
      <span class="text-center text-3xl opacity-30">
        You have no aviable tasks
      </span>
    </template>
    <template v-else>
      <task-item
        v-for="(task, i) in tasks"
        :key="i"
        :task="task"
        @remove="removeTask(task)"
        @complete="completeTask(task)"
      ></task-item>
    </template>
  </section>
</template>

<script>
import taskItem from './task-item.vue'
export default {
  components: { taskItem },
  props: {
    tasks: {
      type: Array,
      default: () => [],
    },
    fetching: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      newTask: '',
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user
    },
  },
  methods: {
    addTask() {
      if (this.newTask) {
        this.$store
          .dispatch('tasks/addTask', {
            todo: this.newTask,
            completed: false,
            id: new Date(),
            userId: this.$cookies?.get('user')?.id || 1,
          })
          .then(() => {
            this.newTask = ''
          })
      }
    },
    completeTask(task) {
      this.$store.dispatch('tasks/updateTask', task)
    },
    removeTask(task) {
      this.$store.dispatch('tasks/deleteTask', task.id)
    },
    setQuery(val) {
      this.$router.push({
        path: '',
        query: {
          status: val,
        },
      })
    },
  },
}
</script>
