<template>
  <nav class="bg-gray-500 py-5 px-5 sm:px-10 flex items-center justify-between">
    <button
      class="flex items-center gap-2 text-lg text-white hover:text-green-400"
      @click="$router.go(-1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        ></path>
      </svg>
      Back
    </button>
    <div class="flex items-center gap-4">
      <template v-if="isLoggedIn">
        <button
          class="flex items-center gap-3 text-lg text-white hover:text-green-400"
          @click="$router.push('/cart')"
        >
          Cart ({{ cartProducts?.length || 0 }})
          <svg
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="fill-current"
            version="1.1"
            width="25"
            height="25"
            viewBox="0 0 902.86 902.86"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z     M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z"
                />
                <path
                  d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717    c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744    c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742    C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744    c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z     M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742    S619.162,694.432,619.162,716.897z"
                />
              </g>
            </g>
          </svg>
        </button>
        <div class="flex items-center gap-2">
          <img
            class="rounded-full w-10 h-10 flex-shrink-0 bg-gray-50"
            :src="currentUser.image"
          />
          <p class="text-white font-medium">
            {{ currentUser.firstName + ' ' + currentUser.lastName }}
          </p>
        </div>
        <button
          class="flex items-center gap-2 text-lg text-white hover:text-red-400"
          @click="Logout()"
        >
          <svg
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            height="20"
            width="20"
            class="fill-current"
            version="1.1"
            viewBox="0 0 384.971 384.971"
            xml:space="preserve"
          >
            <g>
              <g id="Sign_Out">
                <path
                  d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03    C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03    C192.485,366.299,187.095,360.91,180.455,360.91z"
                />
                <path
                  d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279    c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179    c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                />
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </g>
          </svg>
        </button>
      </template>
      <template v-else>
        <button
          class="flex items-center gap-2 py-2 px-4 rounded-lg bg-green-600 text-lg text-white hover:opacity-75"
          @click="$router.push('/auth')"
        >
          Login
        </button>
      </template>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$store.state.auth.loggedIn
    },
    currentUser() {
      return this.$cookies?.get(`user`)
    },
    cartProducts() {
      return this.$store.state.cart?.products
    },
  },
  methods: {
    Logout() {
      this.$auth.strategy.token.reset()
      this.$auth.logout()
      this.$cookies.removeAll()
      this.$router.go('/')
    },
  },
}
</script>
