<template>
  <div class="container px-5 py-24 mx-auto">
    <div class="text-gray-700 body-font overflow-hidden">
      <div class="mx-auto flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
          :src="detail?.thumbnail"
        />
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            {{ detail.brand }}
          </h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
            {{ detail.title }}
          </h1>
          <div class="flex mb-4">
            <rating
              v-model="detail.rating"
              class="RateCustom"
              :readonly="true"
              :length="5"
              iconref="icon-star-full"
            ></rating>
          </div>
          <p class="leading-relaxed">
            {{ detail.description }}
          </p>
          <div
            class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5"
          >
            <div class="flex">
              <span class="mr-3">Color</span>
              <button
                class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"
              ></button>
              <button
                class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"
              ></button>
              <button
                class="border-2 border-gray-300 ml-1 bg-red-500 rounded-full w-6 h-6 focus:outline-none"
              ></button>
            </div>
            <span class="ml-4">At base : {{ detail.stock }}</span>
          </div>
          <div class="flex items-center">
            <span class="title-font font-medium text-2xl text-gray-900"
              >${{ detail.price }}</span
            >
            <span class="ml-2"
              >-{{ Math.round(detail.discountPercentage) }}%</span
            >
            <button
              class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
              @click="addCart()"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <comments></comments>
    </div>
  </div>
</template>
<script>
import Comments from '~/components/product/comments.vue'
import rating from '~/components/usable/rating.vue'
export default {
  components: { rating, Comments },
  layout: 'main',
  fetch({ store, params }) {
    if (!params.id) return
    return store.dispatch('products/getDetail', params.id)
  },
  data() {
    return {
      rate: 3,
    }
  },
  computed: {
    detail() {
      return this.$store.state.products.detail
    },
    isLoggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },
  methods: {
    addCart() {
      if (this.isLoggedIn) {
        this.$store.dispatch('addToCart', this.detail)
        this.$store.commit('Toast', {
          visible: true,
          text: 'Product added to cart !',
          type: 'success',
        })
      } else {
        this.$router.push('/auth')
      }
    },
  },
}
</script>
