<template>
  <div>
    <div class="px-5 md:px-0 container">
      <div class="flex items-center justify-between flex-wrap gap-5 my-16">
        <h2 class="text-5xl opacity-60">Products({{ total }})</h2>
        <filter-brand></filter-brand>
      </div>
      <template v-if="fetching"
        ><div
          class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
        >
          <skaleton-cart v-for="i in 8" :key="i"></skaleton-cart></div
      ></template>
      <template v-else-if="products.length === 0">
        <div class="bg-white p-5 rounded-md w-full mt-4">No result</div>
      </template>
      <template v-else>
        <div
          class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
        >
          <cart
            v-for="product in products"
            :key="product.id"
            :product="product"
          ></cart>
        </div>
      </template>
      <div class="my-12">
        <pagination
          :total-pages="totalPages"
          @page-changed="setPage"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import cart from '~/components/product/cart.vue'
import FilterBrand from '~/components/product/filter-brand.vue'
import SkaletonCart from '~/components/product/skaletonCart.vue'
import Pagination from '~/components/usable/pagination.vue'
function fetchData({ store, query }) {
  const { page = 1, limit = 12, brand, skip = limit * page - limit } = query
  return store.dispatch('products/getProducts', {
    page,
    limit,
    brand,
    skip,
  })
}
export default {
  components: { cart, SkaletonCart, FilterBrand, Pagination },
  layout: 'main',
  fetch({ store, query }) {
    return fetchData({ store, query })
  },
  data() {
    return {
      fetching: false,
    }
  },
  computed: {
    products() {
      return this.$store.state.products.products.products
    },
    total() {
      return this.$store.state.products.products.total
    },
    totalPages() {
      return Math.round(this.$store.state.products.products.total / 12)
    },
  },
  watch: {
    '$route.query': {
      handler() {
        this.selfFetchProducts()
      },
      deep: true,
    },
  },
  methods: {
    selfFetchProducts() {
      this.fetching = true
      return fetchData({ store: this.$store, query: this.$route.query })
        .then(() => {
          this.fetching = false
        })
        .catch(() => {
          this.fetching = false
        })
    },
    setPage(pageNumber) {
      this.$router.push({
        path: '',
        query: { ...this.$route.query, page: pageNumber },
      })
    },
  },
  head() {
    return {
      title: 'Products',
    }
  },
}
</script>
