<template>
  <div>
    <navigation></navigation>
    <nuxt></nuxt>
    <transition name="toast">
      <Toast v-if="showToast" />
    </transition>
  </div>
</template>

<script>
import navigation from '~/components/layout/navigation.vue'
import Toast from '~/components/usable/toast.vue'
export default {
  components: { navigation, Toast },
  computed: {
    showToast() {
      return this.$store.state.messages.visible
    },
  },
}
</script>
<style scoped>
.toast-enter-active {
  animation: wobble 0.5s ease;
}
.toast-leave-to {
  opacity: 0.01;
  transform: translateY(-60px);
}
.toast-leave-active {
  transition: all 0.3s ease;
}
@keyframes wobble {
  0% {
    transform: translateY(-100px);
    opacity: 0.1;
  }
  50% {
    transform: translateY(0.1px);
    opacity: 1;
  }
  60% {
    transform: translateX(8px);
    opacity: 1;
  }
  70% {
    transform: translateX(-8px);
    opacity: 1;
  }
  80% {
    transform: translateX(4px);
    opacity: 1;
  }
  90% {
    transform: translateX(-4px);
    opacity: 1;
  }
  100% {
    transform: translateX(0.1px);
    opacity: 1;
  }
}
</style>
