<template>
  <div
    class="bg-white shadow-md hover:scale-105 hover:shadow-xl duration-500 rounded-xl"
  >
    <router-link :to="`/products/${product.id}`">
      <img
        :src="product.thumbnail"
        alt="Product image"
        class="h-80 w-72 object-cover rounded-t-xl"
      />
    </router-link>
    <div class="px-4 py-3 w-72">
      <span class="text-gray-400 mr-3 uppercase text-xs">{{
        product.brand
      }}</span>
      <router-link
        :to="`/products/${product.id}`"
        class="text-lg font-bold text-black truncate block capitalize hover:text-red-600"
      >
        {{ product.title }}
      </router-link>
      <div class="flex items-center">
        <p class="text-lg font-semibold text-black cursor-auto my-3">
          ${{ product.price }}
        </p>
        <p class="text-base text-red-500 cursor-auto ml-2">
          - {{ Math.round(product.discountPercentage) }}%
        </p>
        <div class="ml-auto">
          <button @click="addCart()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-bag-plus"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
              />
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => null,
    },
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },
  methods: {
    addCart() {
      if (this.isLoggedIn) {
        this.$store.dispatch('addToCart', this.product)
        this.$store.commit('Toast', {
          visible: true,
          text: 'Product added to cart !',
          type: 'success',
        })
      } else {
        this.$router.push('/auth')
      }
    },
  },
}
</script>
