<template>
  <div>
    <h4 class="text-3xl opacity-60">Comments({{ comments?.length || 0 }})</h4>
    <div class="mt-6 p-3 bg-gray-100 border rounded">
      <template v-if="isLoggedIn">
        <div class="flex items-center gap-5">
          <h6 class="text-2xl">Your rate:</h6>
          <rating
            v-model="rate"
            class="RateCustom"
            :length="5"
            iconref="icon-star-full"
          ></rating>
        </div>
        <div class="flex items-start space-x-3 text-sm mt-4">
          <img
            class="rounded-full w-10 h-10 flex-shrink-0"
            :src="currentUser.image"
          />
          <textarea
            v-model="text"
            class="textarea-input flex-grow border rounded w-10 h-12 p-2"
            role="textbox"
            placeholder="White some comment"
            aria-required="true"
            contenteditable
          ></textarea>
          <button
            :disabled="text === ''"
            class="px-3 py-1 flex-shrink-0 border rounded border-blue-500 border-opacity-80 text-blue-500 min-h-[2.5rem] font-medium opacity-80 hover:border-opacity-100 hover:opacity-100 hover:text-white hover:bg-blue-500 transition"
            @click="SendComment()"
          >
            Send
          </button>
        </div></template
      >
      <template v-if="comments?.length">
        <div
          v-for="comment in comments"
          :key="comment.id"
          class="mt-6 p-4 bg-white rounded-md"
        >
          <div class="flex items-center justify-between flex-wrap gap-4">
            <div class="flex items-center gap-4">
              <img
                class="rounded-full w-10 h-10 flex-shrink-0"
                :src="comment.user.image"
              />
              <div>
                <p class="font-medium">
                  {{ comment.user.firstName + ' ' + comment.user.lastName }}
                </p>
                <p class="text-sm">
                  {{ $dayjs(comment.created_at).format('DD MMM YYYY') }}
                </p>
              </div>
            </div>
            <rating
              v-model="comment.rate"
              :readonly="true"
              class="RateCustom"
              :length="5"
              iconref="icon-star-full"
            ></rating>
          </div>
          <p class="mt-5">
            {{ comment.text }}
          </p>
        </div>
      </template>
      <template v-else>
        <div class="bg-white p-4 rounded-lg mt-7">No aviable comments</div>
      </template>
    </div>
  </div>
</template>

<script>
import rating from '../usable/rating.vue'
export default {
  components: { rating },
  data() {
    return {
      rate: 3,
      text: '',
      comments: localStorage.getItem('comments')
        ? JSON.parse(localStorage.getItem('comments'))
            .filter((x) => x.product_id === this.$route.params.id)
            .reverse()
        : [],
    }
  },
  computed: {
    currentUser() {
      return this.$cookies?.get(`user`)
    },
    isLoggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },
  methods: {
    SendComment() {
      const payload = {
        user: this.currentUser,
        created_at: new Date(),
        text: this.text,
        rate: this.rate,
        product_id: this.$route.params.id,
      }
      const array = JSON.parse(localStorage.getItem('comments')) || []
      array.push(payload)
      localStorage.setItem('comments', JSON.stringify(array))
      this.comments = array
        .filter((x) => x.product_id === this.$route.params.id)
        .reverse()
      this.rate = 3
      this.text = ''
    },
  },
}
</script>
