<template>
  <div class="flex items-center gap-5">
    <div
      class="relative border border-gray-300 text-gray-800 bg-white shadow-lg w-80"
    >
      <label for="frm-whatever" class="sr-only">My field</label>
      <select
        id="frm-whatever"
        v-model="brand"
        class="appearance-none w-full py-1 px-2 bg-white"
        name="whatever"
      >
        <option value="" selected>Please choose&hellip;</option>
        <option v-for="brand in brands" :key="brand" :value="brand">
          {{ brand }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute right-0 top-0 bottom-0 flex items-center px-2 text-gray-700 border-l"
      >
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
    <button
      v-if="$route.query.brand"
      class="text-base font-medium hover:text-red-500"
      @click="brand = undefined"
    >
      Reset
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      brands: [
        'Apple',
        'Samsung',
        'OPPO',
        'Huawei',
        'Royal_Mirage',
        'HP Pavilion',
        'Infinix',
        'Microsoft Surface',
        'Fog Scent Xpressio',
        'Al Munakh',
        'Lord - Al-Rehab',
        'Dermive',
      ],
      brand: this.$route.query.brand || null,
    }
  },
  watch: {
    brand(val) {
      this.$router.push({
        path: '',
        query: {
          ...this.$route.query,
          brand: val,
        },
      })
    },
  },
}
</script>
