<template>
  <div class="container px-5 sm:px-0 mt-10">
    <template v-if="cartProducts?.length">
      <div class="flex flex-wrap shadow-md my-10">
        <div class="w-full md:w-3/4 bg-white px-10 py-10">
          <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Shopping Cart</h1>
            <h2 class="font-semibold text-2xl">
              {{ cartProducts?.length }} Items
            </h2>
          </div>
          <div class="flex mt-10 mb-5">
            <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">
              Product Details
            </h3>
            <h3
              class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5"
            >
              Quantity
            </h3>
            <h3
              class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5"
            >
              Price
            </h3>
            <h3
              class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5"
            >
              Total
            </h3>
          </div>
          <div
            v-for="item in cartProducts"
            :key="item.id"
            class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5"
          >
            <div class="flex w-2/5">
              <!-- product -->
              <div class="w-20">
                <img class="h-24" :src="item.thumbnail" alt="" />
              </div>
              <div class="flex flex-col justify-between ml-4 flex-grow">
                <router-link
                  :to="`/products/${item.id}`"
                  class="font-bold text-sm"
                  >{{ item.title }}</router-link
                >
                <span class="text-red-500 text-xs">{{ item.brand }}</span>
                <span class="text-red-500 text-xs">{{ item.category }}</span>
              </div>
            </div>
            <div class="flex justify-center w-1/5">
              <button @click="minusFromCart(item)">
                <svg
                  class="fill-current text-gray-600 w-3"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                  />
                </svg>
              </button>

              <input
                v-model="item.quantity"
                class="mx-2 border text-center w-8"
                type="text"
                disabled
              />

              <button @click="addToCart(item)">
                <svg
                  class="fill-current text-gray-600 w-3"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                  />
                </svg>
              </button>
            </div>
            <span class="text-center w-1/5 font-semibold text-sm"
              >${{ item.price }}</span
            >
            <span class="text-center w-1/5 font-semibold text-sm"
              >${{ item.price * item.quantity }}</span
            >
          </div>
        </div>
        <div
          id="summary"
          class="w-full md:w-1/4 px-8 py-10 h-[400px] max-h-full sticky top-4"
        >
          <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
          <div
            v-for="item in cartProducts"
            :key="item.id"
            class="flex justify-between mt-10 mb-5"
          >
            <span class="font-semibold text-sm uppercase">{{
              item.title
            }}</span>
            <span class="font-semibold text-sm"
              >{{ item.price * item.quantity }}$</span
            >
          </div>
          <div class="border-t mt-8">
            <div
              class="flex font-semibold justify-between py-6 text-sm uppercase"
            >
              <span>Total cost</span>
              <span>${{ totalCost }}</span>
            </div>
            <button
              class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full"
              @click="buyProduct"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="p-4 text-lg rounded-lg font-medium">
        Please add
        <router-link to="/products" class="underline">products</router-link>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  layout: 'main',
  computed: {
    cartProducts() {
      return this.$store.state?.cart?.products
    },
    currentUser() {
      return this.$cookies.get('user')
    },
    isLoggedIn() {
      return this.$store.state.auth.loggedIn
    },
    totalCost() {
      return (
        this.cartProducts
          .map((x) => x.quantity)
          .reduce((acc, item) => {
            return (acc += item)
          }, 0) *
        this.cartProducts
          .map((x) => x.price)
          .reduce((acc, item) => {
            return (acc += item)
          }, 0)
      )
    },
  },
  methods: {
    minusFromCart(obj) {
      this.$store.dispatch('minusFromCart', obj)
    },
    addToCart(obj) {
      this.$store.dispatch('addToCart', obj)
    },
    buyProduct() {
      if (this.isLoggedIn) {
        this.$router.push('/products')
        this.$store.commit('Toast', {
          visible: true,
          text: 'Order successfully completed !',
          type: 'success',
        })
        this.$store.commit('SET_CART', undefined)
      } else {
        this.$router.push('/auth')
      }
    },
  },
}
</script>
