<template>
  <div class="px-5 sm:px-0 container h-screen flex items-center justify-center">
    <div>
      <h4 class="text-2xl sm:text-4xl text-center">
        Tasklarni birini tanlang:
      </h4>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-16">
        <router-link
          to="/todo"
          class="text-3xl bg-gray-300 text-center p-14 rounded-2xl hover:shadow-2xl transition-all hover:translate-y-[-6px] hover:bg-blue-600 hover:text-white"
        >
          Todo List
        </router-link>
        <router-link
          to="/products"
          class="text-3xl bg-gray-300 p-14 text-center rounded-2xl hover:shadow-2xl transition-all hover:translate-y-[-6px] hover:bg-blue-600 hover:text-white"
        >
          Product List
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: 'Home page',
    }
  },
}
</script>
