<template>
  <div>
    <div class="px-5 md:px-0 container">
      <task-list :tasks="tasks" :fetching="fetching"></task-list>
    </div>
  </div>
</template>
<script>
import taskList from '~/components/todo/task-list.vue'
export default {
  layout: 'main',
  components: { taskList },
  fetch() {
    this.selfFetchTasks()
  },
  data() {
    return {
      fetching: false,
    }
  },
  computed: {
    tasks() {
      if (this.$route.query.status === 'completed') {
        return this.$store.state.tasks.tasks.filter((x) => x.completed === true)
      } else if (this.$route.query.status === 'not_completed') {
        return this.$store.state.tasks.tasks.filter(
          (x) => x.completed === false
        )
      } else return this.$store.state.tasks.tasks
    },
  },
  methods: {
    selfFetchTasks() {
      this.fetching = true
      this.$store
        .dispatch('tasks/getTasks')
        .then(() => {
          this.fetching = false
        })
        .catch(() => {
          this.fetching = false
        })
    },
  },
  head() {
    return {
      title: 'Todo List',
    }
  },
}
</script>
